@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --text-up: hsl(163, 72%, 41%);
  --text-down: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  /* light theme   */
  --bg: hsl(0, 0%, 100%);
  --bg-top: hsl(225, 100%, 98%);
  --bg-card: hsl(227, 47%, 96%);
  --text-desaturated: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
  --toggle: hsl(230, 22%, 74%);
  --toggle-thumb: flex-end;
}

.dark-mode {
  --bg: hsl(230, 17%, 14%);
  --bg-top: hsl(232, 19%, 15%);
  --bg-card: hsl(228, 28%, 20%);
  --text-desaturated: hsl(228, 34%, 66%);
  --text: hsl(0, 0%, 100%);
  --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --toggle-thumb: flex-start;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 18rem;
  background-color: var(--bg-top);
  border-radius: 0 0 2rem 2rem;
  z-index: -1;
}

.container {
  margin: 2rem auto;
}

.up {
  color: var(--text-up);
  font-size: 0.8rem;
}

.down {
  color: var(--text-down);
  font-size: 0.8rem;
}

/* header section */
.header {
  margin-bottom: 1rem;
}

.header__text {
  border-bottom: 0.1rem solid var(--text-desaturated);
  padding: 1.5rem 0;
}

.header__title {
  font-size: 1.5rem;
}

.header__summary,
.theme__mode {
  color: var(--text-desaturated);
  font-weight: 700;
}

.theme {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme__toggle {
  width: 3rem;
  height: 1.6rem;
}

.theme__toggle-bg {
  background: var(--toggle);
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: var(--toggle-thumb);
  cursor: pointer;
}

.theme__toggle-bg:hover {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.theme__toggle-thumb {
  background-color: var(--bg-card);
  margin: 0.3rem;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
}

.theme__dark {
  display: none;
}

/* stats section */
.stats__card {
  margin: 1.5rem auto;
  padding: 1rem 0;
  text-align: center;
  width: 20rem;
  height: 12rem;
  background-color: var(--bg-card);
  border-radius: 0.3rem;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.2s linear;
}

.stats__card:hover {
  filter: brightness(0.9);
}

.facebook {
  border-top: 0.4rem solid var(--facebook);
}

.twitter {
  border-top: 0.4rem solid var(--twitter);
}

.instagram-border {
  background: var(--instagram);
  border-radius: 0.5rem;
  padding-top: 0.4rem;
  margin: 1.5rem auto;
  width: 20rem;
}

.instagram {
  margin: 0;
  border-radius: 0 0 0.3rem 0.3rem;
  height: 11.6rem;
}

.youtube {
  border-top: 0.4rem solid var(--youtube);
}

.stats__followers > h2 {
  color: var(--text);
  font-size: 3rem;
  font-weight: 700;
}

.stats__followers > p {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
}

.stats__account,
.stats__today {
  display: flex;
  align-items: center;
  font-weight: 700;
  /* color: var(--text-desaturated); */
}

.stats__account > span,
.stats__today span {
  margin-right: 0.5rem;
}

.stats__account img,
.stats__today img {
  display: block;
}

/* overview */

.overview {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.overview__title {
  color: var(--text-desaturated);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.overviev__card {
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 20rem;
  height: 8rem;
  background-color: var(--bg-card);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.2s linear;
}

.overviev__card:hover {
  filter: brightness(0.9);
}

.overviev__card img {
  display: block;
}

.overview__metric {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview__metric {
  color: var(--text-desaturated);
  font-weight: 700;
}

.overview__numbers {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.overview__numbers {
  color: var(--text);
  font-weight: 700;
  font-size: 2rem;
}

.overview__numbers span {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.overview__numbers img {
  margin-right: 0.2rem;
}

@media screen and (min-width: 700px) {
  /* body::before {
    height: 18rem;
  } */

  .container {
    max-width: 72%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__text {
    border-bottom: none;
    padding: 1rem 0;
  }

  .header__title {
    font-size: 2rem;
  }

  .theme {
    display: flex;
    align-items: center;
  }

  .theme__mode {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .facebook {
    margin-left: 0;
  }

  .youtube {
    margin-right: 0;
  }

  .stats__card {
    height: 15rem;
  }

  .instagram {
    height: 14.6rem;
  }

  .overview__title {
    font-size: 2rem;
  }

  .overviev__card {
    height: 9rem;
    margin: 1rem 0;
  }

  .overview__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
